*{
    --color0: rgb(0, 0, 0);
    --color1: rgb(128, 128, 128);
    --color2: rgb(10, 162, 233);
    --color3: rgb(148, 140, 145);
    --color4: rgb(37, 25, 26);
    --color5: rgb(49, 54, 51);
    font-size: 4vmin;
    color: rgb(255, 255, 255);
  }
  .calco{
    background-color: var(--color0);
    margin-right: auto;
    margin-left: auto;
    border: ridge var(--color2) 5px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .clavier{
    display: flex;
    flex-direction: row;
    padding:1%;
  }
  .clavier .row{
    margin-bottom: 1%;
  }
  .clavier .row:last-child{
    margin-bottom: 0%;
  }
  
  .row{
    min-width: 62vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
  .AC, .DEL{
    background-color: var(--color5);
  }
  label{
    width: 100%;
    font-size: 200%;
    height: 12vh;
    text-align: right;
    line-height: 12vh;
    box-sizing: border-box;
    padding-right: 6%;
    background-color: var(--color1);
  }

  
  input{
    height: 12vh;
    width: 12vw;
    font-weight: normal;
    font-family: 'Times New Roman', Arial, serif;
    background-color: var(--color2);
    border: none;
    box-sizing: border-box;
  }
  input:hover{
    background-color: var(--color3);
  }
  input:active{
    background-color: var(--color4);
    width: 10vw;
    height: 10vh;
    margin: 1vh 1vw;
  } 